body    {
    background-color: #efeee7;
    font-family: "Georgia",'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

header{
    background-color: #333333;
}

h1  {
    text-align: center;
    color: #eee;
    font-size: 28px;
    font-family: "Georgia",'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    width: 100%;
    }

h2  {
    font-size: 24px;
    color: #eee;
    text-align: left;
    font-family: "Georgia",'Times New Roman', Times, serif;
    }

.container  {
    width: 85%;
    margin: 0 auto;
    float: left;
    }

.sidebar   {
    width: 15%;
    height: 500px;
    background-color: darkgray;
    position: relative;
    float: left;
}
#main-bio   {
    float: left;
    width: 70%;
}

#contact-info   {
    float: left;
    width: 30%;
}

#bio-image  {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 30px;
}

a   {
    color: green;
}

.rborder {
    border: 2px solid lightgray;
    border-radius: 5px;
    list-style: none;
    margin-top: 3px;
    margin-bottom: 3px;
}

#sidemenu {
    margin-top: 10px;
}
