body {
    margin: 0;
    background-image: url("dust_scratches.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


header {
height: 75px;
background-color: #ffffff;
margin-top: 0;
padding: 0;
border-width: 0px 0px 1px 0px;
border-color: #4aaaa5;
border-bottom-style: solid;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.navlinks {
    padding: 2px;
    text-decoration: none;
    color: #dddddd;
}

.navlinks:link {
    text-decoration: none;
}

.navlinks:visited {
    text-decoration: none;
}

.navlinks:hover {
    text-decoration: underline;
    font-weight: bold;
}

.navdiv {
    float: left;
    padding: 0 5px 0 5px;
    border-right: .5px solid #4aaaa5;
}
.topmenu {
    height: 75px;
    width: 960px;
    margin-left: 100px;
    margin-right: 100px;
}

.studentbio {
    float: left;
    color: white;
    background-color: #4aaaa5;
    width: 250px;
    height: 75px;
    padding: 0 15px 0 15px;

}
.navigation {
    float: right;
    color: #4aaaa5;
    width: 300px;
    height: 75px;
    padding: 0 15px 0 15px;

}

.container {
    width: 960px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-bottom-color: #dddddd;

}
.aboutme {
    width: 640px;
    height: 500px;
    float: left;
    border: .5px solid #dddddd;
    background-color: white;    
    position: relative;
    padding: 10px;
}

.connect {
    width: 260px;
    height: 250px;
    float: right;
    border: .5px solid #dddddd;
    background-color: white;   
    position: relative;
    padding: 10px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #666666;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 25px;
    color: white;
}

#aboutme {
    border-bottom: 1px solid #dddddd
}

#connect {
    border-bottom: 1px solid #dddddd
}

#bio-image {
    float: left;
}

#biotext {
    width: 420px;
    float: right;
    margin: 0 5px 0 10px;
}

.rotate:hover {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.hover-outline:hover {
    outline: .5px solid gray;
    outline-offset: 1px;
  }

.portfolioitems {
    width: 400px;
    height: 400px;
    float: left;
    border: .5px solid #dddddd;
    background-color: white;    
    position: relative;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}

#portfoliotext {
    width: 180px;
    float: right;
    margin: 0 5px 0 10px;  
}